@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import '../node_modules/vanillajs-datepicker/sass/mixins';

@mixin dp-button {
    .button {
        /***
    Place style adjustment for date picker's buttons here, if needed
     ***/

        .datepicker-header & {
            @include dp-header-button-common;

            /***
    Place style adjustment specific to the header buttons here, if needed
       ***/
        }

        .datepicker-footer & {
            @include dp-footer-button-common;

            /***
    Place style adjustment specific to the footer buttons here, if needed
       ***/
        }
    }
}

@import '../node_modules/vanillajs-datepicker/sass/datepicker';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /*擴充專案的全站樣式*/
    html {
        font-family: "Azeret Mono", "Noto Sans TC", system-ui, sans-serif;
    }
    a{
        color:inherit;
    }
}

@layer components {
    /*自組元件*/
}

@layer utilities {
    /*自組樣式*/
    .text-hidden{
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .text-color-mix{
        background: linear-gradient(to bottom, #09ACF5, #62DB54);
        background-clip: text;
        color: transparent;
    }
    .bg-color-mix-x{
        background: linear-gradient(to right, #09ACF5, #62DB54);
    }
    .bg-color-mix-y {
        background: linear-gradient(to bottom, #09ACF5, #62DB54);
    }
    .bg-color-none{
        background: transparent;
        background-clip: border-box;
    }
    .green-line{
        background: #62DB54;
        width: 50px;
        height: 3px;
    }
    .green-active{
        color:#62DB54;
        border-color:#62DB54;
    }
    .font-Noto{
        font-family:"Noto Sans TC",sans-serif;
    }
    .swiper .swiper-pagination .swiper-pagination-bullet {
        background-color: #62DB54;
        opacity:1;
    }
    .swiper .swiper-pagination .swiper-pagination-bullet-active {
        width: 16px;
        border-radius:5px;
    }
    .swiper .swiper-pagination {
        position: unset;
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: unset;
        width: 24px;
        height: 24px;
        margin-top: 0;
        color: #62DB54;
    }
    .swiper .swiper-button-next:after,
    .swiper .swiper-button-prev:after {
        content: '';
    }
    .swiper-img::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #7C7E77;
        border-radius: 24px;
        left: -10px;
        top: 10px;
        z-index: -1;
    }

    .list-square{
        list-style-type: square;
        
    }
    .triangle-down{
        border-color: #2D2D2D transparent transparent transparent;
    }
    .triangle-right {
        border-color: transparent transparent transparent #2D2D2D;
    }

}